.pop{
    width: inherit;
    table-layout:fixed;

    table{
        width: inherit;
        td {
            border: none;
            i{
                color: #333;
            }
        }
    }
    
}

body{
    color: #000;
}